<h1>All Questions</h1>
<% @questions.each do |question| %>
  <div class="media">
    <div class="media-body">
      <h5 class="media-heading">
        <%= link_to question.title, question %>
        <p>Resolved? <%= question.resolved %></p>
      </h5>
    </div>
  </div>
<% end %>
